<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" lang="en">

<head th:replace="common/header :: common-header"/>

<body>

<div th:replace="common/navbar :: common-navbar"/>

<div class="container">
    <div class="row">
        <div class="col-md-12">
            <div class="jumbotron">
                <h1 class="text-center" th:text="#{create.survey.heading}"></h1>
                <p class="lead" th:text="#{create.survey.subheading}"></p>
            </div>
        </div>
    </div>
</div>
<div class="container">
    <div class="row">
        <div class="col-md-8 col-md-offset-2">
            <div class="well">
                <form class="form-group" id="setSurvey" th:action="@{/setsurvey}" method="post" th:object="${__${'newsurvey'}__}">
                    <div class="form-group input-group mb-3">
                        <label for="inputGroupSelect01" style="margin-left: 20px; padding-right: 20px;" id="surveytype">Survey
                            Type</label>
                        <select class="custom-select" id="inputGroupSelect01" th:field="*{surveyType}">
                            <option selected="selected" value="General Survey">General Survey</option>
                            <option value="Close Survey">Close Survey</option>
                            <option value="Open Survey">Open Survey</option>
                        </select>
                    </div>
                    <div class="form-group">
                        <label for="surveyName" style="margin-left: 20px" id="sname">Survey Name</label>
                        <input type="text" value="" id="surveyName" th:field="*{surveyName}" class="form-control"/>
                    </div>
                    <div th:if="${status=='nameExists'}" class="alert alert-danger alert-dismissible" role="alert">
                        <button type="button" class="close" data-dismiss="alert" aria-label="Close">
                            <span aria-hidden="true">x</span>
                        </button>
                        <p th:text="#{survey.name.exists}"/>
                    </div>
                    <div class="form-group">
                        <label for="surveyDesc" style="margin-left: 20px" id="sdesc">Survey Description</label>
                        <input type="text" value="" id="surveyDesc" th:field="*{surveyDesc}" class="form-control"/>
                    </div>
                    <div class="form-group">
                        <label for="surveyDesc" style="margin-left: 20px" id="sdesc">Survey Expiration Time</label>
                        <input type="text" value="" id="days" th:field="*{days}" class="form-control"
                               placeholder="days"/>
                    </div>
                    <div class="form-group">
                        <input type="text" value="" id="hours" th:field="*{hours}" class="form-control"
                               placeholder="hours"/>
                    </div>
                    <div class="form-group">
                        <input type="text" value="" id="minutes" th:field="*{minutes}" class="form-control"
                               placeholder="minutes"/>
                    </div>
                    <div class="form-group">
                        <button type="submit" class="btn btn-primary" th:text="#{form.submit}"></button>
                    </div>
                </form>
            </div>
        </div>
    </div>
</div>

<div th:replace="common/header :: before-body-scripts"/>

</body>
</html>
