<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" lang="en">

<head th:replace="common/header :: common-header"/>

<body>

<div th:replace="common/navbar :: common-navbar"/>

<div class="container">
    <div class="row">
        <div class="col-md-12">
            <div class="jumbotron">
                <h1 class="text-center" th:text="#{create.survey.heading}"></h1>
                <p class="lead" th:text="#{create.survey.subheading}"></p>
                <div class="container">
                    <div class="row">
                        <div class="col-md-12">
                            <form class="form-group" id="surveyForm" method="post">
                                <div class="well">
                                    <div class="bs-example" data-example-id="simple-justified-button-group">
                                        <div class="btn-group btn-group-justified" role="group"
                                             aria-label="Justified button group with nested dropdown">
                                            <div class="btn-group" role="group">
                                                <a href="#" class="btn btn-default dropdown-toggle"
                                                   data-toggle="dropdown"
                                                   role="button" aria-haspopup="true" aria-expanded="false"> Add
                                                    Question
                                                    <span class="caret"></span> </a>
                                                <ul class="dropdown-menu">
                                                    <li><a href="#" onclick="addMultipleChoiceQues()">Check Box</a></li>
                                                    <li><a href="#" onclick="addRadioQues()">Radio</a></li>
                                                    <li><a href="#" onclick="addDropdownQues()">Dropdown</a></li>
                                                    <li><a href="#" onclick="addTrueFalse()">True False</a></li>
                                                    <li><a href="#" onclick="addShortAnsQues()">Short Answer Type</a>
                                                    </li>
                                                    <li><a href="#">DateTime</a></li>
                                                    <li><a href="#" onclick="addStarRatingQues()">Star</a></li>
                                                </ul>
                                            </div>
                                            <a href="#" class="btn btn-default" role="button" onclick="editQuestion()">Edit
                                                Question</a>
                                        </div>
                                    </div>
                                </div>
                                <div class="well">
                                    <div class="row">
                                        <div class="col-md-12" id="addHere">
                                            <div id="placeHolder"></div>
                                            <template id="surveyNamePlaceHolder">
                                                <div th:replace="surveyelements/Question :: multipleChoiceQuestion"></div>
                                            </template>
                                            <template id="editMultipleChoiceQues">
                                                <div th:replace="surveyelements/Question :: editMultipleChoiceQues"></div>
                                            </template>
                                            <template id="quesPlaceHolder">
                                                <div th:replace="surveyelements/Question :: trueFalseOptions"></div>
                                            </template>
                                            <template id="optionPlaceHolder">
                                                <div th:replace="surveyelements/Question :: editTrueFalseQues"></div>
                                            </template>
                                            <template id="singleQuesPlaceHolder">
                                                <div th:replace="surveyelements/Question :: singleQuestion"></div>
                                            </template>
                                            <template id="singleAnsQuestionEdit">
                                                <div th:replace="surveyelements/Question :: singleAnsQuestionEdit"></div>
                                            </template>
                                            <!--Star Type Question-->
                                            <template id="starQuesPlaceHolder">
                                                <div th:replace="surveyelements/Question :: starRatingQuestion"></div>
                                            </template>
                                            <template id="starQuestionEdit">
                                                <div th:replace="surveyelements/Question :: editStarRatingQuestion"></div>
                                            </template>
                                            <!--Radio Type Question-->
                                            <template id="radioQuesPlaceHolder">
                                                <div th:replace="surveyelements/Question :: radioQuestion"></div>
                                            </template>
                                            <template id="radioQuestionEdit">
                                                <div th:replace="surveyelements/Question :: editRadioQuestion"></div>
                                            </template>
                                            <!--Dropdown Type Question-->
                                            <template id="dropdownQuesPlaceHolder">
                                                <div th:replace="surveyelements/Question :: dropdownQuestion"></div>
                                            </template>
                                            <template id="dropdownQuestionEdit">
                                                <div th:replace="surveyelements/Question :: editDropdownQuestion"></div>
                                            </template>
                                        </div>
                                    </div>
                                </div>
                            </form>
                            <div class="container">
                                <div class="row">
                                    <div class="col-md-6">
                                        <br/>
                                        <form th:action="@{/surveyorhome}" method="get">
                                            <button type="submit" class="btn btn-primary btn-md btn-block"
                                                    th:text="#{save.survey.button.text}"></button>
                                        </form>
                                    </div>
                                    <div class="col-md-6">
                                        <br/>
                                        <form th:action="@{/publishsurvey}" method="get">
                                            <button type="submit" class="btn btn-primary btn-md btn-block"
                                                    th:text="#{publish.survey.button.text}"></button>
                                            <input type="hidden" name="surveyId" id="surveyId" th:value="${surveyId}"/>
                                        </form>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<div th:replace="common/header :: before-body-scripts"/>

</body>
</html>
