<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" lang="en">

<head th:replace="common/header :: common-header"/>

<body>

<div th:replace="common/navbar :: common-navbar"/>

<div class="container">
    <div class="row">
        <div class="col-md-12">
            <div class="jumbotron">
                <h1 class="text-center" th:text="#{edit.survey.heading}"></h1>
                <p class="lead text-center" th:text="#{edit.survey.subheading}"></p>
                <div class="text-center">
                    <div class="container">
                        <div class="row">
                            <div class="col-md-6 col-md-offset-3">
                                <div class="well">
                                    <h2 class="text-center" th:text="#{edit.survey.question.heading}"></h2>
                                    <h4 th:text="#{edit.survey.question.subheading}"></h4>
                                    <hr/>
                                    <br/>
                                    <div class="bs-docs-example">
                                        <ul class="nav nav-tabs nav-stacked" th:each="question : ${questionList}">
                                            <li style="border: 1px solid #ddd;">
                                                <a class="" th:id="'question'+${question.qId}"
                                                   th:text="${question.description}">
                                                </a>
                                                <div th:if="${question.qType}=='checkbox' or 'radio'">
                                                    <ul class="nav nav-tabs nav-stacked"
                                                        th:each="option, iterstat : ${question.options}">
                                                        <li style="border: 1px solid #ddd;"
                                                            th:text="${option.optionValue}"
                                                            th:id="'option'+${question.qId}+${iterstat.index+1}">
                                                        </li>
                                                    </ul>
                                                </div>
                                                <br/>
                                                <br/>
                                                <div style="padding: 10px;">
                                                    <a class="btn btn-danger" th:text="#{delete}"
                                                       th:href="@{/deleteQuestion(questionId=${question.qId}, surveyId=${survey.surveyId})}"></a>
                                                </div>
                                            </li>
                                            <br/>
                                            <hr/>
                                            <div th:if="${question.qType}=='checkbox' or 'radio' or 'dropdown'">
                                                <div class="container" th:fragment="editSurveyEditMultipleChoiceQues">
                                                    <div class="well">
                                                        <div class="row">
                                                            <div class="col-md-12">
                                                                <form class="form-group" id="editSurveyEditOptions"
                                                                      th:action="@{/updatequestion(questionId = ${question.qId})}"
                                                                      method="post"
                                                                      th:object="${__${'questionObj'}__}">

                                                                    <input type="hidden" name="quesType" id="quesType"
                                                                           th:value="'checkbox'"/>
                                                                    <input type="hidden" name="surveyId" id="surveyId"
                                                                           th:value="${survey.surveyId}"/>

                                                                    <label>Type your question here</label><br/>
                                                                    <input type="text" class="text"
                                                                           th:id="${question.qId}"
                                                                           name="multipleChoiceQuesTextField"
                                                                           th:field="*{quesText}"
                                                                           oninput="editSurveyEditMultipleChoiceQuesText(event)"/>
                                                                    <br/><br/>
                                                                    <label>Edit Options</label><br/>
                                                                    <input type="text" class="text"
                                                                           th:id="'option'+${question.qId}+'1T'"
                                                                           th:field="*{option1Text}"
                                                                           oninput="changeMultipleChoiceOptionText(event)"
                                                                           placeholder="Option 1"/>
                                                                    <input type="text" class="text"
                                                                           th:id="'option'+${question.qId}+'2T'"
                                                                           th:field="*{option2Text}"
                                                                           oninput="changeMultipleChoiceOptionText(event)"
                                                                           placeholder="Option 2"/>
                                                                    <input type="text" class="text"
                                                                           th:id="'option'+${question.qId}+'3T'"
                                                                           th:field="*{option3Text}"
                                                                           oninput="changeMultipleChoiceOptionText(event)"
                                                                           placeholder="Option 3"/>
                                                                    <input type="text" class="text"
                                                                           th:id="'option'+${question.qId}+'4T'"
                                                                           th:field="*{option4Text}"
                                                                           oninput="changeMultipleChoiceOptionText(event)"
                                                                           placeholder="Option 4"/>
                                                                    <div class="col-md-6 col-md-offset-3">
                                                                        <br/>
                                                                        <button type="submit" class="btn btn-primary"
                                                                                th:text="#{form.submit}"></button>
                                                                    </div>
                                                                </form>
                                                            </div>
                                                        </div>
                                                    </div>
                                                </div>

                                            </div>
                                        </ul>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<div th:replace="common/header :: before-body-scripts"/>

</body>
</html>
