<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">

<head th:replace="common/header :: common-header" />
    <!--<style>-->
        <!--.wrap {-->
            <!--width: 100%;-->
        <!--}-->

        <!--.floatleft, .floatright {-->
            <!--float:left;-->
            <!--width: 80%;-->
            <!--background-color: #ff0000;-->
            <!--height: 400px;-->
        <!--}-->

        <!--.floatright {-->
            <!--background-color: #00ff00;-->
            <!--width: 20%;-->
        <!--}-->
    <!--</style>-->
<!--</head>-->


<body>

<div th:replace="common/navbar :: common-navbar"/>

<div class="container">

    <div class="row">

        <div class="col-md-12">
<!--<p th:object="description" th:text="description"> </p>-->
            <div class="jumbotron">

                <div class="text-center">

                    <h1>Survey Statistics</h1>

                    <p class="lead" th:text="#{home.second.message}"/>

                    <div class="container">
                        <div class="row">
                            <div class="col-md-6" style="alignment: left; width: 40%;">
                                <div class="well">

                                    <a class="btn btn-success btn-lg btn-block" onclick="toggle_div_fun('survey_stats');">Survey Statistics</a>
                                    <div style="display: none;" id="survey_stats" class="stats" >
                                        <li> Start Time: <span th:text="${stats.getCurrent()}"></span></li>

                                        <li> End Time: <span th:text="${stats.getEndTime()}"></span></li>

                                        <span th:if="${stats.getSurveyType() == 'closed'}">
                                <!--check the token list size, which is equal to registered participants-->
                                <span th:with="participants =${stats.getTokens().size()}" >
                                        <span>Participants: <li th:text="${participants}" > </li></span>
                                        <span>Participation rate: <li th:text="${(stats.getQuestions().get(0).getResponses().size())/(participants*1.0)}"></li> </span>
                                </span>
                            </span>
                                        <span th:unless="${stats.getSurveyType() == 'closed'}" >
                            <span th:with="participants =${stats.getTokens().get(0).getParticipants().size()}">
                                <!--get the token and participants registered under that-->
                                 <span>Participants: <li th:text="${participants}"></li></span>
                                 <span>Participation rate: <li th:text="${(stats.getQuestions().get(0).getResponses().size())/(participants*1.0)}"></li> </span>
                            </span>
                            </span>
                                        <!--<li> Participants: <span th:text="${stats.getTokens().get(0).getParticipants().size()}"> </span></li>-->

                                        <!--participation rate = submission (questions.get(0).getResponses().size();)/ registered participants-->
                                        <!--<li> Participation rate: <p th:text="${(stats.getQuestions().get(0).getResponses().size())/()}"> </p></li>-->

                                    </div>
                                </div>
                            </div>


                            <!--question stats-->
                            <div class="col-md-6" style="alignment: right">
                                <div class="well">

                                    <a class="btn btn-success btn-lg btn-block" onclick="toggle_div_fun('question_stats');">Question Statistics</a>
                                    <!--<p><a class="btn btn-info btn-lg" >Question Statistics</a></p>-->
                                    <!--<div  id="question_stats" class="q_stats" >-->
                                    <div style="display: none;" id="question_stats" class="q_stats" >
                                        <div th:each="question : ${stats.getQuestions()}">
                                                <li> <span th:text="${question.getDescription()}"></span>
                                                    <span th:text="${question.getqType()}"></span>
                                                </li>

                                            <!--check question type-->
                                            <span th:if="${question.getqType() == 'shortAnswer' || question.getqType() == 'dateTime' || question.getqType() == 'text'  }"  th:with="options =${question.getOptions()} ">
                                                <!--text answers printed-->
                                                <li>Responses:
                                                    <ol th:each="response : ${question.getResponses()}">
                                                            <span th:text="${response.getAnswer()}"> </span>
                                                    </ol>
                                                </li>
                                             </span>

                                            <span th:unless="${question.getqType() == 'shortAnswer'}"  th:with="options =${question.getOptions()} ">

                                                <!--print options given-->
                                                <li>Multiple choice Responses:
                                                    <ol th:each="response : ${question.getResponses()}">
                                                        <span th:text="${response.getAnswer()}"> </span>
                                                    </ol>
                                                </li>
                                            </span>

                                                <!--<li th:each="option : ${options}"></li>-->
                                                    <!--<li>Options:-->

                                                     <!--<ol>-->
                                                        <!--<span th:text="${option.getOptionValue()}" ></span>-->
                                                        <!--<span th:each="response,fnStat : ${question.getResponses()}" th:text="${fnStat.count}"></span>-->
                                                            <!--&lt;!&ndash;<span th:if="${response.getAnswer()== option.getOptionValue()}"  >&ndash;&gt;-->
                                                        <!---->
                                                        <!--&lt;!&ndash;<span th:text="${fnStat.count}">3 ></span>&ndash;&gt;-->
                                                    <!--</ol>-->
                                                    <!--<li>-->
                                                    <!--get distribution of answer choices / responses-->

                                            <!--<td>-->

                                            <!--< span th:text="${response.getAnswer}">response by user</span>-->
                                            <!--</td>-->
                                                <!--</li>-->

                                                <!--</li>-->
                                            <!--</span>-->
                                Total responses given :<li th:text="${question.getResponses().size()}"></li>
                            <!--</span>-->
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>

                    </div>

                </div>


            </div>

        </div>

    </div>

</div>




                <!--<section class="wrap" th:object="${stats}">-->
                    <!--<div class="floatleft" style="background-color:gray" >-->
                        <!--<p><a class="btn btn-info btn-lg" onclick="toggle_div_fun('survey_stats');">Survey Statistics</a></p>-->
                        <!--<div style="display: none;" id="survey_stats" class="stats" >-->
                            <!--<li> Start Time: <span th:text="${stats.getCurrent()}"></span></li>-->

                            <!--<li> End Time: <span th:text="${stats.getEndTime()}"></span></li>-->

                            <!--<span th:if="${stats.getSurveyType() == 'closed'}">-->
                                <!--&lt;!&ndash;check the token list size, which is equal to registered participants&ndash;&gt;-->
                                <!--<span th:with="participants =${stats.getTokens().size()}" >-->
                                        <!--Participants: <li th:text="${participants}" > </li>-->

                                        <!--Participation rate: <li th:text="${(stats.getQuestions().get(0).getResponses().size())/(participants*1.0)}"></li>-->
                                <!--</span>-->
                            <!--</span>-->


                            <!--<span th:unless="${stats.getSurveyType() == 'closed'}" >-->
                            <!--<span th:with="participants =${stats.getTokens().get(0).getParticipants().size()}">-->
                                <!--&lt;!&ndash;get the token and participants registered under that&ndash;&gt;-->
                                <!--Participants:  <li th:text="${participants}"></li>-->
                                <!--Participation rate: <li th:text="${(stats.getQuestions().get(0).getResponses().size())/(participants*1.0)}"></li>-->
                            <!--</span>-->
                            <!--</span>-->
                            <!--&lt;!&ndash;<li> Participants: <span th:text="${stats.getTokens().get(0).getParticipants().size()}"> </span></li>&ndash;&gt;-->

                                <!--&lt;!&ndash;participation rate = submission (questions.get(0).getResponses().size();)/ registered participants&ndash;&gt;-->
                            <!--&lt;!&ndash;<li> Participation rate: <p th:text="${(stats.getQuestions().get(0).getResponses().size())/()}"> </p></li>&ndash;&gt;-->

                        <!--</div>-->

                    <!--</div>-->


                    <!--<div class="floatright" style="background-color:blue">-->
                        <!--&lt;!&ndash;<a class="btn btn-info btn-lg" th:href="@{/stats(surveyId=${stats.get(0)})}" th:object="${questions}" onclick="toggle_div_fun('question_stats');">Question Statistics</a>&ndash;&gt;-->
                        <!--<a class="btn btn-info btn-lg" onclick="toggle_div_fun('question_stats');">Question Statistics</a>-->
                        <!--&lt;!&ndash;<p><a class="btn btn-info btn-lg" >Question Statistics</a></p>&ndash;&gt;-->
                        <!--&lt;!&ndash;<div  id="question_stats" class="q_stats" >&ndash;&gt;-->
                            <!--<div style="display: none;" id="question_stats" class="q_stats" >-->
                                <!--<div th:each="question : ${stats.getQuestions()}">-->
                                 <!--<li> Question: <span th:text="${question.getDescription()}"></span></li>-->
                                 <!--<li> Question Type: <span th:text="${question.getqType()}"></span></li>-->

                            <!--&lt;!&ndash;check question type&ndash;&gt;-->
                                <!--<span th:if="${question.getqType() == 'shortAnswer' || question.getqType() == 'dateTime' }"  th:with="options =${question.getOptions()} ">-->
                                <!--&lt;!&ndash;text answers printed&ndash;&gt;-->
                                <!--<li> Responses:-->
                                    <!--<div th:each="response : ${question.getResponses()}">-->
                                        <!--<p th:text="${response.getAnswer()}"> </p>-->
                                    <!--</div>-->
                                <!--</li>-->
                                <!--</span>-->


                            <!--<span th:unless="${question.getqType() == 'shortAnswer'}"  th:with="options =${question.getOptions()} ">-->
                                <!--&lt;!&ndash;print options given&ndash;&gt;-->

                                <!--<p th:each="option : ${options}">-->
                                  <!--Options:  <span th:text="${option.getOptionValue()}" > </span>-->

                                    <!--&lt;!&ndash;get distribution of answer choices / responses&ndash;&gt;-->
                                    <!--<span th:each="response : ${question.getResponses()}">-->
                                        <!--<li th:if="${response.getAnswer()== option.getOptionValue()}">-->
                                           <!--responses: <li th:text="${response.getAnswer()}"></li>-->
                                        <!--</li>-->


                                    <!--</span>-->


                                <!--</p>-->
                                <!--Total responses given :<span th:text="${question.getResponses().size()}"></span>-->

                            <!--</span>-->



                            <!--</div>-->
                        <!--</div>-->

                    <!--</div>-->
                <!--</section>-->


<script type="text/javascript">
function toggle_div_fun(id) {
var divelement = document.getElementById(id);
if(divelement.style.display == 'none')
divelement.style.display = 'block';
else
divelement.style.display = 'none';
}
</script>

<!-- Bootstrap core JavaScript
================================================== -->
<!-- Placed at the end of the document so the pages load faster -->
<div th:replace="common/header :: before-body-scripts"/>

</body>
</html>