<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" lang="en">

<head th:replace="common/header :: common-header"/>

<body>

<div th:replace="common/navbar :: common-navbar"/>

<div class="container">
    <div class="row">
        <div class="col-md-12">
            <div class="jumbotron">
                <h1 class="text-center" th:text="#{survey.response.heading}"></h1>
                <p class="lead" th:text="#{survey.response.subheading}"></p>
                <div class="text-center">
                    <div class="container">
                        <div class="row">
                            <div class="col-md-12">
                                <div class="well">
                                    <div class="row">

                                        <h2>List of surveys...</h2>

                                        <div class="btn-group-vertical" th:each="survey : ${surveys}">
                                           <!--<span th:if="${error != null}">-->
                                               <!--<a th:text="${error}" href="/surveyorresponse"></a>-->

                                           <!--</span> &lt;!&ndash;<span th:if="${survey !=null}">&ndash;&gt;-->
                                            <a  th:href="@{/surveyor/stats(description=${survey})}" class="btn btn-primary"
                                                th:text="${survey}" name="name"></a>

                                        </div>


                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<div th:replace="common/header :: before-body-scripts"/>

</body>
</html>
