<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" lang="en">

<head th:replace="common/header :: common-header"/>

<body>

<div th:replace="common/navbar :: common-navbar"/>

<div class="container">
    <div class="row">
        <div class="col-md-12">
            <div class="jumbotron">
                <h1 class="text-center" th:text="#{home.heading}"></h1>
                <p class="lead" th:text="#{home.subheading}"></p>
                <div class="text-center">
                    <div class="container">
                        <div class="row">
                            <div class="col-md-12">
                                <div class="well">
                                    <div class="row">
                                        <div class="col-lg-6 span4">
                                            <a href="/setsurvey">
                                                <img class="img-circle"
                                                     th:src="@{/images/create_survey.png}"
                                                     alt="Create New Survey" width="140" height="140"/>
                                            </a>
                                            <h2 th:text="#{surveyor.home.create.text}">Karan Didwani</h2>
                                            <div class="span4 collapse-group">
                                                <p class="collapse text-justify">Using our web application create your
                                                    own surveys and get the information that you need.
                                                    Create questions just with a single click, assign the question a
                                                    response type from multiple options to long
                                                    text answer.
                                                    Use our simple web user interface to create as many surveys you wish
                                                    with as many questions you want your
                                                    surveyees to answer.
                                                    The more the better</p>
                                                <p><a class="btn btn-primary btn-collapse" href="#" role="button"
                                                      th:text="#{copy.viewdetails.button}"></a></p>
                                            </div>
                                        </div><!-- /.col-lg-4 -->
                                        <div class="col-lg-6 span4">
                                            <a href="/sharesurvey">
                                                <img class="img-circle"
                                                     th:src="@{/images/share.jpg}"
                                                     alt="Share Survey" width="140" height="140"/>
                                            </a>
                                            <h2 th:text="#{surveyor.home.share.text}">Karan Didwani</h2>
                                            <div class="span4 collapse-group">
                                                <p class="collapse text-justify">Share your survey with your friends,
                                                    family, colleagues or with everyone. You can create a
                                                    survey and share the link to the survey.
                                                    Share the survey with only selected people if needed. Send out an
                                                    email with the link to the survey so that
                                                    only invited users can take the survey.
                                                    Create a public survey and just share the link or login to our
                                                    website to leverage more options and take or
                                                    create surveys.</p>
                                                <p><a class="btn btn-primary btn-collapse" href="#" role="button"
                                                      th:text="#{copy.viewdetails.button}"></a></p>
                                            </div>
                                        </div><!-- /.col-lg-4 -->
                                    </div>
                                    <div class="row">
                                        <div class="col-lg-12 horizontal-grabber">
                                            <hr class="featurette-divider"/>
                                        </div>
                                    </div>
                                    <div class="row">
                                        <div class="col-lg-6 span4">
                                            <a href="/surveyorresponse" th:href="@{/surveyorresponse}">
                                                <img class="img-circle"
                                                     th:src="@{/images/result.jpg}"
                                                     alt="See Survey Results" width="140" height="140"/>
                                            </a>
                                            <h2 th:text="#{surveyor.home.result.text}">Karan Didwani</h2>
                                            <div class="span4 collapse-group">
                                                <p class="collapse text-justify">Collect and store the responses to the
                                                    questions in the survey. Analyze them to get the maximum
                                                    information from the responses.
                                                    After all this is what you came to us for. The responses are the
                                                    user critical data and it is stored very
                                                    safely with us. Only the creator of the survey can view the
                                                    responses.
                                                    Download the survey response and monitor all the users submitted the
                                                    responses to all the questions in the
                                                    survey</p>
                                                <p><a class="btn btn-primary btn-collapse" href="#" role="button"
                                                      th:text="#{copy.viewdetails.button}"></a></p>
                                            </div>
                                        </div><!-- /.col-lg-4 -->
                                        <div class="col-lg-6 span4">
                                            <a href="/editsurvey">
                                                <img class="img-circle"
                                                     th:src="@{/images/edit.jpg}"
                                                     alt="Edit/Complete Surveys" width="140" height="140"/>
                                            </a>
                                            <h2 th:text="#{surveyor.home.edit.text}">Karan Didwani</h2>
                                            <div class="span4 collapse-group">
                                                <p class="collapse text-justify">Edit or complete creating your
                                                    incomplete surveys. Survey app allows surveyors to start creating a
                                                    survey, take the dog for walk and come back to complete the survey
                                                    creation. User can easily save the survey questions already entered
                                                    and add more or edit older questions on the go.</p>
                                                <p><a class="btn btn-primary btn-collapse" href="#" role="button"
                                                      th:text="#{copy.viewdetails.button}"></a></p>
                                            </div>
                                        </div><!-- /.col-lg-4 -->
                                    </div><!-- /.row -->
                                </div>
                            </div>
                        </div>
                    </div>
                </div>


                <!--<h2>List of surveys...</h2>-->
                <!--<div class="btn-group-vertical" th:each="survey : ${surveys}">-->
                    <!--<a  th:href="@{/surveyor/stats(description=${survey})}" class="btn btn-primary" th:text="${survey}"></a>-->
                <!--</div>-->
            </div>
        </div>
    </div>
</div>
<div th:replace="common/header :: before-body-scripts"/>

</body>
</html>
