<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">

<head th:replace="common/header :: common-header"/>

<body>

<div th:replace="common/navbar :: common-navbar"/>

<div class="container">

    <div class="row">

        <div class="col-md-12">

            <div class="jumbotron">


                <button type="button" class="btn btn-info btn-lg"  th:href="@{/survey/createSurvey}">Create Survey</button>

                <!--<div class="text-center">-->

                    <!--<div class="col-sm-12">-->
                        <!--<table>-->
                            <!--<tr th:each="survey : ${surveys}">-->
                                <!--<td th:text="${survey}">1</td>-->
                            <!--</tr>-->
                        <!--</table>-->
                    <!--</div>-->


                   <!-- <h1 th:text=""/>

                    <p class="lead" th:text=""/>
-->
                    <!--<div class="container">-->
                        <!--<div class="row">-->
                            <!--<div class="col-md-6">-->
                                <!--<div class="well">-->

                                <!--</div>-->
                            <!--</div>-->
                        <!--</div>-->

                    <!--</div>-->

                <!--</div>-->

            </div>

           <h2>List of surveys...</h2>
            <div class="btn-group-vertical" th:each="survey : ${surveys}">
                <a  th:href="@{/surveyor/stats(description=${survey})}" class="btn btn-primary" th:text="${survey}"></a>
            </div>

        </div>

    </div>

</div>

<!-- Bootstrap core JavaScript
================================================== -->
<!-- Placed at the end of the document so the pages load faster -->
<div th:replace="common/header :: before-body-scripts"/>

</body>
</html>