<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" lang="en">

<head th:replace="common/header :: common-header"/>

<body>
<!--multiple choice part-->
<div class="container" th:fragment="multipleChoiceQuestion">
    <div class="row">
        <div class="col-md-12">
            <div class="jumbotron" onclick="editMultipleChoiceQuestion()">
                <h4 id="questionMC">New Question here...</h4>
                <div class="row">
                    <div class="col-md-12">
                        <form id="options">
                            <div class="form-control">
                                <input type="checkbox" value=""/><label style="margin-left: 20px" id="option1">Option 1</label>
                            </div>
                            <div class="form-control">
                                <input type="checkbox" value=""/> <label style="margin-left: 20px" id="option2">Option 2</label>
                            </div>
                            <div class="form-control">
                                <input type="checkbox" value=""/> <label style="margin-left: 20px" id="option3">Option 3</label>
                            </div>
                            <div class="form-control">
                                <input type="checkbox" value=""/><label style="margin-left: 20px" id="option4">Option 4</label>
                            </div>
                        </form>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

<div class="container" th:fragment="editMultipleChoiceQues">
    <div class="well">
        <div class="row">
            <div class="col-md-12">
                <form class="form-group" id="editoptions">
                    <label id="multiChoiceQuesText">Type your question here</label><br/>
                    <input type="text" class="text" id="multipleChoiceQuesTextField" oninput="editMultipleChoiceQuesText()"/>
                    <br/><br/>
                    <label>Edit Options</label><br/>
                    <input type="text" class="text" id="option1Text" oninput="changeMultipleChoiceOptionText('option1')"
                           placeholder="Option 1"/>
                    <input type="text" class="text" id="option2Text" oninput="changeMultipleChoiceOptionText('option2')"
                           placeholder="Option 2"/>
                    <input type="text" class="text" id="option3Text" oninput="changeMultipleChoiceOptionText('option3')"
                           placeholder="Option 3"/>
                    <input type="text" class="text" id="option4Text" oninput="changeMultipleChoiceOptionText('option4')"
                           placeholder="Option 4"/>
                </form>
            </div>
        </div>
    </div>
</div>

<div class="container" th:fragment="trueFalseOptions">
    <div class="row">
        <div class="col-md-12">
            <div class="jumbotron" onclick="editTrueFalseQues()">
                <h4 id="questionTF">New Question here...</h4>
                <div class="row">
                    <div class="col-md-12">
                        <form id="optionsTF">
                            <div class="form-control">
                                <input type="radio" name="TF" value="True"/><label style="margin-left: 20px" id="true">True</label>
                            </div>
                            <div class="form-control">
                                <input type="radio" name="TF" value="False"/> <label style="margin-left: 20px" id="false">False</label>
                            </div>
                        </form>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

<div class="container" th:fragment="editTrueFalseQues">
    <div class="well">
        <div class="row">
            <div class="col-md-12">
                <form class="form-group" id="editoptionsTF">
                    <label id="quesTextTF">Type your question here</label><br/>
                    <input type="text" class="text" id="quesTextFieldTF" oninput="editTrueFalseQuesText()"/>
                    <br/>
                </form>
            </div>
        </div>
    </div>
</div>

<div class="container" th:fragment="singleQuestion">
    <div class="row">
        <div class="col-md-12">
            <div class="jumbotron" onclick="editShortAnsQues()">
                <h4 id="questionSA">New Question here...</h4>
                <div class="row">
                    <div class="col-md-12">
                        <form id="optionsSA">
                            <div class="form-control">
                                <input type="text" name="shortAns" value=""/>
                            </div>
                        </form>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

<div class="container" th:fragment="singleAnsQuestionEdit">
    <div class="well">
        <div class="row">
            <div class="col-md-12">
                <form class="form-group" id="editoptionsSA">
                    <label id="quesTextSA">Type your question here</label><br/>
                    <input type="text" class="text" id="quesTextFieldSA" oninput="editShortAnsQuesText()"/>
                    <br/>
                </form>
            </div>
        </div>
    </div>
</div>




<!--Star option part-->
<div class="container" th:fragment="starRatingQuestion">
    <div class="row">
        <div class="col-md-12">
            <div class="jumbotron" onclick="editStarRatingQues()">
                <h4 id="questionStar" >New Question here...</h4>
                <div class="row">
                    <div class="col-md-12">
                        <ul class="rate-area">
                            <input type="radio" id="5-star" name="rating" value="5" />
                            <label for="5-star" title="Amazing" style="height: 70px; width: 70px">5 stars</label>
                            <input type="radio" id="4-star" name="rating" value="4" />
                            <label for="4-star" title="Good" style="height: 70px; width: 70px">4 stars</label>
                            <input type="radio" id="3-star" name="rating" value="3" />
                            <label for="3-star" title="Average" style="height: 70px; width: 70px">3 stars</label>
                            <input type="radio" id="2-star" name="rating" value="2" />
                            <label for="2-star" title="Not Good" style="height: 70px; width: 70px">2 stars</label>
                            <input type="radio" id="1-star" name="rating" value="1" />
                            <label for="1-star" title="Bad" style="height: 70px; width: 70px">1 star</label>
                        </ul>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

<div class="container" th:fragment="editStarRatingQuestion">
    <div class="well">
        <div class="row">
            <div class="col-md-12">
                <form class="form-group" id="editQuesStarRating">
                    <label id="quesTextStarRating">Type your question here</label><br/>
                    <input type="text" class="text" id="quesTextStarRatingField" oninput="editStarRatingQuesText()"/>
                    <br/>
                </form>
            </div>
        </div>
    </div>
</div>




<div th:replace="common/header :: before-body-scripts"/>
</body>
</html>
