<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" lang="en">

<head th:replace="common/header :: common-header"/>

<body>

<div th:replace="common/navbar :: common-navbar"/>

<div class="container">
    <div class="row">
        <div class="col-md-12">
            <div class="jumbotron">
                <h1 class="text-center" th:text="#{show.survey.heading}"></h1>
                <p class="lead" th:text="#{show.survey.subheading}"></p>
                <div class="container">
                    <div class="row">
                        <h2 th:text="${survey.description}"></h2>

                        <ol class="table table-striped">
                            <!--<tr>-->
                                <!--<th>q_id</th>-->
                                <!--<th>description</th>-->
                            <!--</tr>-->
                            <li th:each="question : ${questions}">

                                <!--<div th:text="${question.qId}"></div>-->
                                <!--<td th:text="${question.qType}"></td>-->
                                <div th:text="${question.description}"></div>

                                <div th:if="${question.qType == 'text'}">
                                    <input type="text"  />
                                </div>

                                <div th:if="${question.qType == 'rating'}">
                                    <input type="text"/>
                                </div>

                                <div th:if="${question.qType == 'dropdown'}">

                                        <select>
                                            <option th:each="option : ${question.options}" th:value="response">
                                                <span th:text="${option.optionValue}"></span>
                                            </option>
                                        </select>

                                </div>

                                <div th:if="${question.qType == 'radio'}">

                                        <p th:each="option : ${question.options}"
                                               th:if="${question.options.size() > 0}"
                                               th:value="${option.optionValue}">
                                            <input type="radio" name="radio1"
                                                   th:checked="${#strings.equals('response', option.optionValue)}">
                                            </input>
                                            <span th:text="${option.optionValue}"/><br></br>
                                        </p>


                                </div>

                                <div th:if="${question.qType == 'checkbox'}">

                                        <p th:each="option : ${question.options}"
                                               th:if="${question.options.size() > 0}"
                                               th:value="${option.optionValue}">
                                            <input type="checkbox"
                                                   th:checked="${#strings.equals('response', option.optionValue)}">
                                            </input>
                                            <span th:text="${option.optionValue}"/><br></br>
                                        </p>

                                </div>

                            </li>
                        </ol>

                    </div>
                </div>
                <a type="submit" class="btn btn-success btn-md btn-block" value="Submit" th:href="@{/submitSurvey(token=${token})}" >Submit</a>
            </div>
        </div>
    </div>
</div>

<div th:replace="common/header :: before-body-scripts"/>
<!--//-->


</body>

</html>